# Fraktaler 3 -- fast deep escape time fractals
# Copyright (C) 2021 Claude Heiland-Allen
# SPDX-License-Identifier: AGPL-3.0-only

fraktaler-3-cli
fraktaler-3-gui
fraktaler-3.pdf
imgui.ini
index.html
*.d
*.exr
*.o
_
