# Fraktaler 3 -- fast deep escape time fractals
# Copyright (C) 2021 Claude Heiland-Allen
# SPDX-License-Identifier: AGPL-3.0-only

VERSION.txt
live
fraktaler-3-0-*
fraktaler-3-cli
fraktaler-3-gui
fraktaler-3.pdf
imgui.ini
index.html
src/fraktaler-3-source.7z.cc
*.7z
*.d
*.exe
*.exr
*.kfr
*.o
*.png
_
